/*
 * Standart styling
 * ------------------------------------------------------ 
 * Helper classes for styling the shortcodes + regular ones
 * that can be used on normal content.
 * */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/*
 * Style columns.
 * ------------------------------------------------------ 
 * Only precentage were used, so that the sizes will fit 
 * perfectly in any content width. 
 * */
.wt-column-one-half {
	width: 48.93617021276595%;

	margin-right: 2.12%;
	float: left;
}

.wt-column-one-third {
	width: 31.91%;

	margin-right: 2.12%;
	float: left;
}

.wt-column-one-fourth {
	width: 23.40%;;

	margin-right: 2.12%;
	float: left;
}

.wt-column-one-fifth {
	width: 18.30%;

	margin-right: 2.12%;
	float: left;
}

.wt-column-one-sixth {
	width: 14.89%;

	margin-right: 2.12%;
	float: left;
}

.wt-column-last {
	margin-right: 0;
}

/*
 * Message boxes
 * ------------------------------------------------------ 
 * This is the default design of the boxes.
 * */
.wt-msgbox {
	color:#555;
	padding: 10px 30px 10px 13px;
	display: block;
	margin: 20px 0;
	border-radius: 3px;
}

.wt-msgbox .msgbox-content:last-child {
	margin-bottom: 0;
}

.wt-msgbox i {
	margin-right: 8px;
}

.wt-msgbox.msgbox-doc {	background: #e3f7fc; }
.wt-msgbox.msgbox-error { background: #fcb8b8; }
.wt-msgbox.msgbox-download { background: #acd7a4; }
.wt-msgbox.msgbox-help { background: #96e4e9; }
.wt-msgbox.msgbox-info { background: #6dc8fc; }
.wt-msgbox.msgbox-media { background: #ffda93; }
.wt-msgbox.msgbox-new { background: #faefa4; }
.wt-msgbox.msgbox-note { background: #8ce8e3; }
.wt-msgbox.msgbox-success { background: #a2f0b1; }
.wt-msgbox.msgbox-warning { background: #e48080; }

/**	
 * List
 * ------------------------------------------------------
 * We will remove the list style for custom lists and add
 * custom font-awesome icons, the ones that the user picks.
 */
.wt-list li {
	list-style: none;
}

.wt-list li i {
	margin-right: 8px;
}

.wt-list.color-red li i { color: #f46565; }
.wt-list.color-green li i { color: #38d638; }
.wt-list.color-blue li i { color: #29a1fe; }
.wt-list.color-orange li i { color: #29a1fe; }
.wt-list.color-brown li i { color: #29a1fe; }
.wt-list.color-gray li i { color: #29a1fe; }
.wt-list.color-blue li i { color: #29a1fe; }

/**	
 * Buttons
 * ------------------------------------------------------
 */

.wt-button {
	text-decoration: none;
	padding: 7px 15px;
	color: white;

	/* IE7 inline-block hack */
	display: inline-block;
	*display: inline;

	margin: 5px;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;

	/* Default values, same as for white colored button */
	background: #FFFFFF; 
	border: 1px solid #E5E5E5;
}

.wt-button:hover {
	opacity: 0.8;
}

.wt-button.size-small { padding: 3px 10px; font-size: 12px;}
.wt-button.size-large { padding: 10px 20px; font-size: 16px; font-weight: bold; }

.wt-button.button-white { color: #999999; background: #FFFFFF; border: 1px solid #E5E5E5; }
.wt-button.button-red { background: #fe7272;  }
.wt-button.button-blue { background: #00a2ff;  }
.wt-button.button-orange { background: #ff7f1a;  }
.wt-button.button-black { background: #393939;  }
.wt-button.button-green { background: #36e146;  }
.wt-button.button-magenta { background: #eb3899;  }

.wt-button.button-red:visited,		
.wt-button.button-blue:visited, 		
.wt-button.button-orange:visited,	
.wt-button.button-black:visited, 	
.wt-button.button-green:visited, 	
.wt-button.button-magenta:visited { color: white; }	
.wt-button.button-white:visited { color: #999; }


/**	
 * Highlights
 * ------------------------------------------------------
 */
.wt-highlight.wt-highlight-Blue { background: #a3dffe; }
.wt-highlight.wt-highlight-Red 	{ background: #fa8a8a; }
.wt-highlight.wt-highlight-Green { background: #74ee88; }
.wt-highlight.wt-highlight-Orange { background: #ffb38a; }

/**	
 * Slider
 * ------------------------------------------------------
 */
 
.wt-slider { 
	position: relative; 
	overflow: hidden; 
	border: 1px solid red;
	padding-bottom: 50px;
	border: 3px solid #f0f0f0;
	box-shadow: inset 0px 0px 1px #555;
}

.wt-slider .wt-slider-holder { 
	list-style: none; 
	padding: 0; 
	margin: 0; 	
}

.wt-slider .wt-slider-item { 
	float: left; 
	width: 100%; 
}

.wt-slider .dots {
	bottom: 8px;
	display: inline-block;
	left: 45%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 0px 10px;
	border-radius: 8px;
}
.wt-slider .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.wt-slider .dots li.active {
	background: #fff;
	opacity: 1;
}

/**	
 * Tabs
 * ------------------------------------------------------
 */
.wt-tabs {
	border: 3px solid #f0f0f0;
	box-shadow: inset 0px 0px 1px #555;
}

.wt-tabs ul.ui-tabs-nav {
	background: linear-gradient(#fafafa, #E6E6E6);
	margin: 1px;
}

.wt-tabs ul.ui-tabs-nav li {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.wt-tabs ul.ui-tabs-nav li .ui-tabs-anchor {
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	padding: 4px 40px;
	color: #777;
	display: table-cell;
	border-bottom: 2px solid #DADADA;
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #eee;
}

.wt-tabs ul.ui-tabs-nav li.ui-tabs-active a.ui-tabs-anchor {
	border-bottom: 2px solid #FF5D05;
	background: linear-gradient(#eaeaea, #fafafa);
	outline: none
}

.wt-tabs .tab-content {
	padding: 20px;
}

/**	
 * Panels
 * ------------------------------------------------------
 */
.wt-panel { 
	display: block; 
	background: #f0f0f0;
	padding: 20px;
	margin: 20px 0;
}

.wt-panel::selection {
	background: black;
	color: white;
}

.wt-panel p:first-child {
	margin-top: 0;
}

.wt-panel p:last-child {
	margin-bottom: 0;
}

.wt-panel.flat.blue {
	background: #0096ff;
	color: white;
	border: 6px solid #168bdc;
}

.wt-panel.flat.orange {
	background: #ff6c00;
	border: 6px solid #ff5400;
	color:  white;
}

.wt-panel.flat.green {
	background: #28df1a;
	border: 6px solid #22d814;
	color:  white;
}

.wt-panel.flat.red {
	background: #e84646;
	border: 6px solid #dd3838;
	color:  white;
}

.wt-panel.flat.magenta {
	background: #ea3787;
	border: 6px solid #dd2b7b;
	color:  white;
}

.wt-panel.flat.black {
	background: #333333;
	border: 6px solid #222222;
	color:  white;
}

.wt-panel.flat.white {
	background: #ffffff;
	border: 1px solid #f0f0f0;
	color:  #555;
}

/**	
 * Other Styles for the Shortcode Plugin
 * ------------------------------------------------------
 */

.wt-spoiler,
.wt-spoiler a { color: transparent; text-shadow: 0 0 8px rgba(0,0,0,0.5); }

.wt-spoiler:hover,
.wt-spoiler:hover a { 
	color: #444; 
	background: transparent; 
	text-shadow: none;
}

.wt-separator { 
	display: block; 
	width: 100%; 
	clear: both;
	overflow: hidden;
	height: 1px;
}

.wt-separator.small {
	margin: 10px 0;
}

.wt-separator.medium {
	margin: 20px 0;
}

.wt-separator.big {
	margin: 30px 0;
}

.wt-separator.huge {
	margin: 40px 0;
}

.wt-separator.line {
	border-bottom: 1px solid #E5E5E5;
}

.wt-separator.double-line {
	border-bottom: 4px double #ededed
}

